@import "tailwindcss";

@theme {
  --color-sena-green: #39a900;
  --color-sena-orange: #fc7323;
  --color-sena-blue: #043263;
  --color-sena-gray: #f4f4f4;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
}
